.split-container {
  display: flex;
  flex: auto; /* TODO what does this do */
  flex-direction: row;
}

.split-child {
  flex: 1 1 0;
}

.branches-picker {
  font-size: 16px;
}

.branches-picker label {
  font-family: monospace;
}

.center {
  width: 100%;
  text-align: center;
}

.branches-picker button {
  margin: 30px;
  padding: 10px;
  font-size: 24px;
}

.monospace {
  font-family: monospace;
  white-space: pre-wrap;
}

.empty {
  background-color: gray;
  text-align: center;
  font-size: 14px;
  vertical-align: center;

  display: flex;
  align-items: center;
}
.empty>div {
  flex: 1;
}

.clip-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.table-borders,
table.table-borders>tbody>tr,
table.table-borders>tbody>tr>td{
  border: 1px solid black;
  border-collapse: collapse;
}

.sticky {
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid black;
}

.disabled-bg-color {
  background-color: lightgray;
}

/* TODO delete bg class? */
.warning-bg-color {
  background-color: orange;
}
.warning-color {
  color: rgb(92, 60, 0);
  background-color: rgb(255, 251, 229);
}

/* TODO delete bg class? */
.error-bg-color {
  background-color: red;
}
.error-color {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 240, 240);
}

.blue-bg-color {
  background-color: rgb(98, 176, 255);
}

.green-bg-color {
  background-color: lightgreen;
}

.center-text {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.cursor-pointer {
  cursor: pointer;
}