.datagrid {
  border-collapse: collapse;
}

.datagrid-row {
  display: flex;
  flex-direction: row;
  /* TODO make this work, it centers text but removes a bunch of padding i want */
  /* align-items: center; */
}

.datagrid-cell {
  /*flex: 1;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  border: 1px solid black;
}

.datagrid-cell.datagrid-cell-no-grow {
  flex-grow: 0;
}
