.datagrid {
  /*display: table;*/
  border-collapse: collapse;
}

.datagrid-row {
  display: flex;
  flex-direction: row;
  /*display: table-row;*/
}

.datagrid-cell {
  /*flex: 1;*/
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  border: 1px solid black;
}
