.comparer .datagrid-cell {
  border: none;
}

.comparer .comparer-left-button {
  width: 90px;
  min-width: 90px;
}

.comparer button.comparer-left-button {
  border: default;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.comparer .comparer-branch-title {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-left: solid 1px black;
  border-top: solid 1px black;
}

.comparer .comparer-pick-button {
  width: 90px;
}

.comparer .comparer-pick-right {
  position: absolute;
  right: 0px;
}

.comparer .comparer-row-container {
  display: flex;
}

.comparer .comparer-bottom-row {
  border-bottom: solid 2px black;
  cursor: pointer;
}

.comparer .comparer-border-bottom-soft {
  border-bottom: dashed 1px rgba(0, 0, 0, 0.15);
}