.comparer .datagrid-cell {
  border: none;
}

.comparer button.comparer-left-button {
  border: default;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
}

.comparer .comparer-branch-title {
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-left: solid 1px black;
  border-top: solid 1px black;
}

.comparer .comparer-row-container {
  display: flex;
}

.comparer .comparer-bottom-row {
  border-bottom: solid 2px black;
  /*cursor: pointer;*/
}

.comparer .comparer-border-bottom-soft {
  border-bottom: dashed 1px rgba(0, 0, 0, 0.15);
}

.comparer .comparer-button-row-container {
  display: flex;
  width: 180px;
  flex-shrink: 0;
}

.comparer .comparer-button-row-child {
  flex: 1 1 0;
}

.comparer .comparer-button-row-child-big {
  flex: 2;
}

.comparer .comparer-status-icon {
  flex-shrink: 0;
  user-select: none;
}